body {
	text-align: center;
	background:linear-gradient(bottom, rgba(255,0,0,0), rgba(247,100,40,1));
	background:-webkit-linear-gradient(bottom, rgba(255,0,0,0), rgba(247,100,40,1));
	background:-moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(247,100,40,1));
	background-size: contain;
	color:black;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 20px;
}
header{
	background: url('http://i1356.photobucket.com/albums/q737/Hannah_Prentice/spag_zpsa1xqsak0.jpg');
	background-size: cover;
}

h1 {
	color: rgb(189,19,19);
	font-size: 70px;
	font-weight: bold;
}
.spacings{
	padding: 5px 10px 5px 10px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

a {
	color: rgba(189,19,1,0.75);
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
}

ul {
	padding: 10px;
	margin: 6px;
}

li {
	display: inline;
	padding:50px;
}

article {
	text-align: center;
}

.container {
	background-size: cover;
	padding: 50px;
	width: 1000px;
}


.first{
  background-image: url("http://i1356.photobucket.com/albums/q737/Hannah_Prentice/tomato_zpsuvepqxev.jpg");
  height: 225px;
  position: relative;
  border-radius:12px;
  max-width: 500px;


}
.second{
  background-image: url("http://i1356.photobucket.com/albums/q737/Hannah_Prentice/fajitas_zpsghquyy5j.jpg");
  height: 225px;
  position: relative;
  border-radius:12px;
  max-width: 500px;
}
.third {
	background-image: url("http://i1356.photobucket.com/albums/q737/Hannah_Prentice/Risotto_zpsldxspkwf.jpg");
	height: 225px;
	position: relative;
	border-radius:12px;
	max-width: 500px;
}
.fourth{
  background-image: url("http://i1356.photobucket.com/albums/q737/Hannah_Prentice/Chilli_zpsyf2uv8xk.jpg");
  height: 225px;
  position: relative;
  bottom: 0;
  border-radius:12px;
  max-width: 500px;
}
.show-description p {
	height: 25px;
}

h2 span {
	color: white;
	letter-spacing: -1px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding: 5px;
	font-size: 25px;
	position: relative;
	top: 20px;
}

p span {
	color: white;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding: 2px;
	font-size: 18px;
	position: relative;
	top: 25px;
}

.image-align{
	margin: 0 auto;	
}

/*#grad {
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(247,164,86,1));
}*/